/* *
{
    padding: 0px;
    margin: 0px;
} */
body
{
    font-family: "Rubik", serif;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;             
        
    }
}